# Custom .gitconfig settings

[core]
  # globally excluded files
  excludesfile = ~/.gitignore_global

[difftool]
  # no need to prompt when using the difftool
  prompt = false

# colors based on solarized palette https://ethanschoonover.com/solarized/
[color]
  ui = auto
  diff = auto
  grep = auto
  branch = auto
  status = auto
  pager = true
  [color "branch"]
    current = "#b58900" reverse # yellow
    local = "#eee8d5" # white
    remote = "#dc322f" # red
    upstream = "#268bd2" # blue
    plain = "#eee8d5" # white
  [color "diff"]
    meta = "#b58900"  # yellow
    frag = "#d33682" bold # magenta
    old = "#dc322f" bold # red
    new = "#859900" bold # green
  [color "status"]
    added = "#859900" # green
    updated = "#859900" # green
    changed = "#dc322f" # red
    untracked = "#6c71c4" # violet
    nobranch = "#dc322f" # red
    branch = "#2aa198" # cyan
    localBranch = "#eee8d5" # white
    remoteBranch = "#dc322f" # red
    unmerged = "#268bd2" # blue

[init]
  defaultBranch = main

[push]
  # 'simple' requires git > 2.0, if running < 2.0 change to 'matching'
  default = simple

[fetch]
  prune = true

[status]
  # branch and short were introduced in 1.8.4
  branch = true
  short = true

[log]
  decorate = short
  abbrevCommit = true

[help]
  autocorrect = 33

[format]
  # based on example from https://github.com/allthedoll/git
  pretty = "%C(red)%h%C(reset) %C(blue)%G?%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(blue)<%an>%C(reset)"

[alias]
  # based on comment at https://stackoverflow.com/a/35081008
  all = "!f() { find . -name .git -type d | sed s,/.git,, | xargs -I{} bash -c \"echo Running: git -C {} $@ && git -C {} $@\"; }; f"
  # based on example from https://github.com/allthedoll/git
  logp = "log --color --graph --pretty=format:'%C(red)%h%C(reset) %C(blue)%G?%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(blue)<%an>%C(reset)' --abbrev-commit --date=relative"


[include]
  # include requires git > 1.8
  path = ~/.gitconfig_local
